body {
	font-family: 'Special Elite', cursive;
	color: white;
	margin-bottom: 5em;
	font-size: .8em;
	background-image: url("flame.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	font-size: 1.65em;
	text-decoration: underline;
	line-height: 1.5em;
	text-align: center;
}

p {
	text-align: center;
	font-size: 2em;
}

#addMonster {
	margin-top: .1em;
	padding: .4em;
}

.name {
	font-size: 10em;
}

#currentCreatures {
	width: 100%;
}

#currentCreatures:active{
	background-color: red;
}

#userInput {
	width: 40%;
	margin: 1em auto;
	border: .25em solid white;
	background-color: black;
	border-radius: 2em;
}

form {
	padding: 1em;
	border-top: .25em solid white;
	background-color: black;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}

#attributes {
	float:left;
	margin-right: 2em; 
}

table {
	width: 80%;
	margin: 0em auto;
}

table, th, td {
	border: .15em solid #545454;
	border-collapse: collapse;
	padding: .5em;
	background-color: white;
	color: black;
	text-align: center;
}

th {
	width: 10%;
}

#row1 {
	background-color: black;
	color: white;
}

th#row1 {
	border: .15em solid #545454;
}

label { 
	display: inline-block; 
	width: 10em; 
	margin: .3em 0; 
}​
