body {
	font-family: 'Special Elite', cursive;
	color: white;
	margin-bottom: 5em;
	font-size: .75em;
	background-image: url("flame.jpg");
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1 {
	text-align: center;
	font-size: 3em;
}

h2 {
	font-size: 1.3em;
	text-decoration: underline;
	line-height: 2em;
	text-align: center;
}

p {
	text-align: center;
	font-size: 2em;
}

#userInput {
	width: 25%;
	margin: 2em auto;
	border: .15em solid white;
	background-color: black;
	border-radius: 1em;
}

form {
	padding: 1em;
	border-top: .15em solid white;
	background-color: black;
}

table {
	width: 80%;
	margin: 0em auto;
}

table, th, td {
	border: .15em solid black;
	border-collapse: collapse;
	padding: .5em;
}

#row1 {
	background-color: black;
	color: white;
	border: .15em solid black;
}

th#row1 {
	border: .15em solid white;
}

label { 
	display: inline-block; 
	width: 8em; 
	text-align: left;
	margin: .25em 0; 
}​